#draw {
	position:relative;
	overflow:hidden;
  width: 1700px;
  height: 752px;
}

#progress {
  margin-bottom: 0px;
}

#progressbar,
#bufferbar {
	cursor:pointer
}

.panel-panel-primary
{
  position:relative;
  width: 500px;
}

.jumbotron {
  padding-bottom:0px !important;
  padding-top: 10px !important;  
  width: 500px;

}

.col-md-8
{
  margin-top:20px;
  padding-left: 0px !important;

}

/*move location of the maps */
#map {
	width: 312px;
	height: 412px;
  position: relative;
  left:-1800px;
  top:80px;
  

}

.loading{
	background: #ccc url(../images/load.gif) center center no-repeat !important;
}

.loading div {
	display: none;
}

/* hide the directions from google - HACKY - */
.adp {
	display:none;
}

.rss-link {
  background: url(../images/rss-icon.png) no-repeat;
  padding-left: 20px;
  float: right;
}

.fb-like {
  top: -8px;
  margin-right: 10px;
}

#twitter-widget-0 {
  position:relative;
  top: -3px;
}

.netlog {
  position:relative;
  top:-9px;
}